@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:white;
}

:root{
    --primaryColor: #141518;
    --secondaryColor: #1B1C21; 
    --lightGray: #949494;
}

body{
    /* overflow-x: hidden; */
    background-color: var(--primaryColor);
}

/* SIDEBAR */
.sidebar{
    background-color: var(--secondaryColor);
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 270px;
}

/* PROFILE */
.profile-wrapper{
    padding: 4rem 3rem;
    gap: 1rem;
}

.profile-wrapper img{
    border-radius:50%;
    width:100px;
    height:100px;
}

.profileTxt{
    font-size: 24px;
    color: #f0f0f0;
    font-weight: 500;
}

/* SIDEBAR LINKS */
.tabItem{
    list-style: none;
}

.tabItem:hover{
    cursor: pointer;
}

.tabLink{
    text-decoration: none;
    color: var(--lightGray);
    padding: 0.625rem 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    display: block;
    transition: 0.4s all ease;
}

.tabLink i{
    margin-right: 1rem;
    color: var(--lightGray);
    width:1rem;
}

.tabLink.active{
    background-color: #30323A;
    border: 1px solid #444752;
}

.tabLink:hover,
.tabLink:hover i{
    color: white;
}

.tabLink.active,
.tabLink.active i{
    color: white;
}

/* RIGHT CONTAINER */
.rightContainer{
    position: relative;
    left: 270px;
    min-height:100vh;
    width: calc(100vw - 270px);
}

.content{
    padding: 6rem 4rem;
}

.homeHeader h1{
    font-size: 36px;
    font-weight: 400;
}

.tag{
    border: 1px solid #3F414B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
}

.tag i,
.tag p{
    color: var(--lightGray);
    font-size: 16px;
}

.cardWrapper{
    border: 1px solid #3F414B;
    border-radius: 5px;
    padding:1rem;
    height:100%;
}

.cardSec{
    min-height:100%;
}

.cardSec i{
    color: #3F414B;
    font-size: 1rem;
}

.imgWrapper{
    height:300px;
}

.cardWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* ABOUT */
.introHeader{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.introHeader i,
.introHeader p,
.introHeader h2{
    color: white;
    font-size: 2.25rem;
}

.introHeader i{
    transform: scaleX(-1);
}

.about .txtContainer{
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}


/* WORK AND EDUCATION */
.workEdu h3{
    font-size: 1.5rem;
}

.workEdu .title{
    font-size: 1rem;
}

.workEdu .location{
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    max-width: calc(100% - 100px);
}

.workEdu .tag{
    margin-top: 0.75rem;
}

.tag .date{
    font-size: 0.75rem;
}

.iconWrapper{
    gap: 0.5rem;
    padding: 0.625rem;
    width: calc(100% - (100% - 70px));
}

/* EDUCATION */
.eduImg-container{
    gap: 0.5rem;
}

.eduImg-container .viewBtn{
    text-decoration: none;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: white;
    font-size: 0.75rem;
    transition: 0.4s all ease;
}

.eduImg-container i{
    color: black;
    margin-right: 0.5rem;
}

.eduImg-container .viewBtn:hover{
    background-color: var(--lightGray);
}

@media only screen and (min-width:768px){
    
}