@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:white;
}

:root{
    --primaryColor: #141518;
    --secondaryColor: #1B1C21; 
    --lightGray: #949494;
}

body{
    overflow-x: hidden;
    background-color: var(--primaryColor);
}

/* TOP NAV */
.topNav{
    background-color: var(--secondaryColor);
}

.topNav button{
    border: none;
}

.topNav .topProfile img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

/* SIDEBAR */
.sidebar{
    background-color: var(--secondaryColor);
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 1.5s all ease;
    z-index: 1500;
    opacity: 1;
}

.sidebar .profile-wrapper img,
.topProfile img{
    object-fit: cover;
    object-position: 80% 80%;
}

.sidebar.show{
    width: 270px;
}

.sidebar.show > div,
.sidebar.show > nav{
    display: block;
    opacity: 1;
    transition: 0.8s all ease;
}


/* PROFILE */
.profile-wrapper{
    padding: 4rem 3rem;
    gap: 1rem;
}

.profile-wrapper img{
    border-radius:50%;
    width:100px;
    height:100px;
}

.profileTxt{
    font-size: 24px;
    color: #f0f0f0;
    font-weight: 500;
}

/* SIDEBAR LINKS */
.tabItem{
    list-style: none;
}

.tabItem:hover{
    cursor: pointer;
}

.tabLink{
    text-decoration: none;
    color: var(--lightGray);
    padding: 0.625rem 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    display: block;
    transition: 0.4s all ease;
}

.tabLink i{
    margin-right: 1rem;
    color: var(--lightGray);
    width:1rem;
}

.tabLink.active{
    background-color: #30323A;
    border: 1px solid #444752;
}

.tabLink:hover,
.tabLink:hover i{
    color: white;
}

.tabLink.active,
.tabLink.active i{
    color: white;
}

/* RIGHT CONTAINER */
.rightContainer{
    position: relative;
    left: 270px;
    min-height:100vh;
    width: calc(100vw - 270px);
    transition: 1.5s all ease;
}

.content{
    padding: 6rem 4rem;
}

.homeHeader h1{
    /* font-size: 36px; */
    font-size: clamp(1.5rem, 1.35rem + 0.8vw, 2.25rem);
    font-weight: 400;
}

#homeTab i.fa-chevron-right{
    padding: 0.45rem 0.65rem;
    border-radius: 50%;
    border: 2px solid #3F414B;
    transition: 0.4s all ease;
}

#homeTab .cardWrapper:hover{
    cursor: pointer;
}

#homeTab .cardWrapper:hover i.fa-chevron-right{
    cursor: pointer;
    border-color:white;
    color:white;
}

.tag{
    border: 1px solid #3F414B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
}

.tag i,
.tag p{
    color: var(--lightGray);
    font-size: 16px;
}

.cardWrapper{
    border: 1px solid #3F414B;
    border-radius: 5px;
    padding:1rem;
    height:100%;
}

.cardSec{
    min-height:100%;
}

.cardSec i{
    color: #3F414B;
    font-size: 1rem;
}

.imgWrapper{
    height:300px;
}

.cardWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* ABOUT */
.introHeader{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.introHeader i,
.introHeader p,
.introHeader h2{
    color: white;
    font-size: clamp(1.5rem, 1.35rem + 0.8vw, 2.25rem);
}

.introHeader i{
    transform: scaleX(-1);
}

.about .txtContainer{
    font-size: clamp(1rem, 0.93rem + 0.26vw, 1.25rem);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}


/* WORK AND EDUCATION */
.workEdu h3{
    font-size: 1.5rem;
}

.workEdu .title{
    font-size: 1rem;
}

.workEdu .location{
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    max-width: calc(100% - 100px);
}

.workEdu .tag{
    margin-top: 0.75rem;
}

.tag .date{
    font-size: 0.75rem;
}

.iconWrapper{
    gap: 0.5rem;
    padding: 0.625rem;
    width: calc(100% - (100% - 70px));
}

/* EDUCATION */
.eduImg-container{
    gap: 0.5rem;
    flex-direction: column;
}

.eduImg-container .viewBtn{
    text-decoration: none;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: white;
    font-size: 0.75rem;
    transition: 0.4s all ease;
}

.eduImg-container i{
    color: black;
    margin-right: 0.5rem;
}

.eduImg-container .viewBtn:hover{
    background-color: var(--lightGray);
}

/* SKILL */
.progressContainer{
    gap:1.25rem;
}

.progress{
    width: 105px;
    height: 105px;
    line-height: 105px;
    background: none;
    box-shadow: none;
    position: relative;
}

.progress::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid white;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span{
    width: 50.1%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left{
    left: 0;
}

.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: center left;
}

.progress .progress-right{
    right:0;
}

.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    transform-origin: center right;
}

.progress .progress-value{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    position: absolute;
}

/* BAR COLOR */
.progress.dev .progress-bar{
    border-color: #0092FF;
}

.progress.ui .progress-bar{
    border-color: #00C6BD;
}

.progress.graphic .progress-bar{
    border-color: #F9CC2E;
}

/* BAR ANIMATION */
.progress.dev .progress-bar{
    animation: devLoad-left 1.5s linear forwards 1.8s;
}

.progress.dev .progress-right .progress-bar{
    animation: devLoad-right 1.8s linear forwards;
}

.progress.ui .progress-bar{
    animation: uiLoad-left 1.5s linear forwards 1.8s;
}

.progress.ui .progress-right .progress-bar{
    animation: uiLoad-right 1.8s linear forwards;
}

.progress.graphic .progress-bar{
    animation: graphicLoad-left 1.5s linear forwards 1.8s;
}

.progress.graphic .progress-right .progress-bar{
    animation: graphicLoad-right 1.8s linear forwards;
}

/* BAR ANIMATION */
@keyframes devLoad-right{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

@keyframes devLoad-left{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(33deg);
        -webkit-transform: rotate(33deg);
    }
}

@keyframes uiLoad-right{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

@keyframes uiLoad-left{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
    }
}

@keyframes graphicLoad-right{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
    }
}
/* 
@keyframes graphicLoad-left{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
} */

/* TOOLS */
.toolWrapper .toolTitle{
    font-weight: 500;
    font-size: 1.5rem;
}

.toolWrapper .toolDesc{
    font-weight: 300;
}

/* LIGHTBOX */
body.lb-disable-scrolling {
    overflow: hidden;
}

.lb-container{
    padding-bottom:2rem;
    background-color: white;
    position: relative;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;

    /* Image border */
    border: 4px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;

    /* Background color behind image.
        This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 50%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 35%;
    left: 0;
    /* float: left; */
    position:absolute;
    height:85%;
    background: url(frontendP/images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    /* width: 64%; */
    width:35%;
    right: 0;
    height:85%;
    /* float: right; */
    position:absolute;
    background: url(/frontendP/images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position:relative;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    /* float: left; */
    position:absolute;
    bottom:90%;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
    color:black;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    /* padding-bottom: 1em; */
    font-size: 12px;
    color: #484848;
}

.lb-closeContainer::after{
    content:'Click anywhere in blank space to close.';
    margin-top:1rem;
    position:fixed;
    bottom:5%;
    left:0;
    text-align: center;
    right:0;
    pointer-events: none;
}
/* LIGHTBOX END */

.galleryWrapper{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.vStretch{
    grid-row: span 2;
}

.hStretch{
    grid-column: span 2;
}

.lgStretch{
    grid-row: span 2;
    grid-column: span 2;
}

.galleryWrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* FOOTER */
footer p{
    color: var(--lightGray);
    font-size: clamp(12px, 13px + 0.25vw ,16px);
}

/* CURSOR */
.cursor{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    animation: cursorAni .8s infinite alternate;
    z-index: 100;
    pointer-events: none;
}

.cursor.hidden{
    display: none;
}

.cursor::after{
    content: "" url(/images/cursor.svg);
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5s;
    left:-8;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    animation: cursorAni .8s infinite alternate;

}

@keyframes cursorAni{
    from{
        transform: scale(1);
    } to{
        transform: scale(.9);
    }
}

@media only screen and (max-width:2500px){
    .sidebar{
        width: 270px;
    }
}

/* sm-md */
@media only screen and (max-width: 991.5px){

    .sidebar{
        width: 0px;
    }

    .sidebar > div,
    .sidebar > nav{
        display: none;
        opacity: 0;
    }

    /* RIGHTSIDE CONTENT */
    .rightContainer{
        left: 0;
        width: 100%;
    }

    .content{
        padding: 8rem 1rem 3rem 1rem;
        display: flex;
        justify-content: center;
    }

    /* ABOUT ME */
    .eduWrapper{
        flex-wrap: wrap;
        gap: 1rem;
    }

    .eduImg-container{
        flex-direction: row;
    }

    .workEdu .location{
        max-width: 100%;
    }

    /* GRID IMAGE */
    .vStretch{
        grid-row: span 1;
    }

    .hStretch{
        grid-column: span 1;
    }

    .lgStretch{
        grid-column: span 1;
        grid-row: span 1;
    }
    
    /* CURSOR */
    .cursor{
        display: none !important;
    }
    
    #homeTab .cardSec .cardWrapper:hover,
    #projectTab .cardWrapper a:hover,
    #graphicTab a:hover{
        cursor: pointer !important;
    }
}

